# task

TODO:
    - [v] add break and continue statements.
    - [v] add while loop and for loop.
    - [v] add if statement.
    - [v] add function and call it.
    - [v] add return statement.
    - [v] add lambda function.
    - [] add resolve the problem of borrow checker.
      - [] wait update code...
    - [] add array and access it.
    ...
    - [] add class and object.
    - [] add module and import it.
    - [] add exception handling.
    - [] add explicit type marked and conversion.
    - [] add type hinting.z
    - [] add unit test.
    - [] add documentation.
    - [] add static type checking.
    - ...
