# task

TODO:
    - [v] add break and continue statements.
    - [v] add while loop and for loop.
    - [v] add if statement.
    - [v] add function and call it.
    - [v] add return statement.
    - [v] add lambda function.
    - [] add resolve the problem of borrow checker.
      - [v] handle lambda function.
      - [v] update var statement value expr to option<expr>.
      - [v] update return statement value expr to option<expr>.
      - [v] update block statement to function statement.
      - [v] add resolve static check for var status.
      - [v] add resolve static check for return status.
      - [v] add resolve static check for block status.
      - [v] add resolve static check for lambda block status.
      - [] wait update code...
    - [] add array and access it.
    ...
    - [] add class and object.
    - [] add module and import it.
    - [] add exception handling.
    - [] add explicit type marked and conversion.
    - [] add type hinting.z
    - [] add unit test.
    - [] add documentation.
    - [] add static type checking.
    - ...
