# task

TODO:
    - [v] add break and continue statements.
    - [v] add while loop and for loop.
    - [v] add if statement.
    - [v] add function and call it.
    - [v] add return statement.
    - [v] add lambda function.
    - [] add resolve the problem of borrow checker.
      - [v] handle lambda function.
      - [v] update var statement value expr to option<expr>.
      - [v] update return statement value expr to option<expr>.
      - [v] update block statement to function statement.
      - [v] add resolve static check for var status.
      - [v] add resolve static check for return status.
      - [v] add resolve static check for block status.
      - [v] add resolve static check for lambda block status.
      - [v] add class statement.
      - [v] add caller object class struct.
      - [v] add instance object class instance strcut.
      - [v] add class attribute and class method.
      - [v] add class instance attribute and class instance method.
      - [v] update function statement parameter type to option<vec<type>>.
      - [v] update lambda function parameter type to option<vec<type>>.
      - [v] update function not return value Option::None.
      - [v] class [cls, ins, sta] funtion.
      - [v] type object default clone is shadow clone, add deep clone.
      - [v] modify class instance getter, not new instance to get rc instance.
      - [v] var statement set value is deep copy.
      - [] class method cls param used ?
      - [v] wait handler init this same init before and after.
      - [v] local variable check status in class.
      - [v] class attribute set and get, update and delete.
      - [] add class static attribute and class static method.
      - [v/] add class constructor and destructor.
      - [v] add class inheritance.
      - [v] add resolve static check for class status.
      - [v] add resolve static check var statement.
      - [v] add base type inference, base type in parse infer{i32, f64, bool, str, null, fn}, 
            class infer move to resolve static check.
      - [v] add lambda function type inference.
      - [v] {fn, lambda, binary, unary, logical, assign}add return type inference and return type check.
      - [v] resolve static check for class instance obejct assign and get. handler this used this parameters.
        - [v] error: already mutably borrowed: BorrowError
        - [v] update resolve local variable log, update setter and getter log logical.
        - [v] add class type inheritance and instance type inheritance.
      - [v] update poject error manager system. remove enum middle layer.
      - [] add or update function and lambda function return type check.
      - [] add class method and function return type check.
      - [] add type more info for error message.
      - [] remove instance type, remove class constructor pin name.
      - [] add class method and parameter public, private, protected.
        - [] add root keyword {pub} , default is private, need add pub set?.
      - [] add function parameters type inference.
      - [] add class attribute type inference.
      - [] add class method type inference.
      - [] add class super method call.
      - [] wait update code...
      - [] 我们的解析器会计算出变量是在哪个环境中找到的, 但是它仍然需要根据名称在对应的map中查找。
          一个更有效的环境表示形式是将局部变量保存在一个数组中，并通过索引来查找它们。
      - []  扩展解析器，为作用域中声明的每个局部变量关联一个唯一的索引。
          当解析一个变量的访问时，查找变量所在的作用域及对应的索引，并保存起来。在解释器中，使用这个索引快速的访问一个变量。
    - [] add array and access it.
    ...
    - [] add class and object.
    - [] add module and import it.
    - [] add exception handling.
    - [] add explicit type marked and conversion.
    - [] add type hinting.z
    - [] add unit test.
    - [] add documentation.
    - [] add static type checking.
    - ...
